.books{
    height: 100vh;
    width: 100%;
    background-image: url("https://lonelyplanetstatic.imgix.net/marketing/2022/BIT/bit-guidebook-bg-desk.jpeg?w=1920&auto=format&q=75");
    background-size: cover;
    background-position: center;
    background-color: black;
}

.places::-webkit-scrollbar{
    display: none;
}

@media (max-width:768px) {
    .books{
        height: 50vh;
        
    }
}
